* {
    box-sizing: border-box;
  }
  
  :root {
    --primary: #0a0808c5;
    --secondary: #8207a1;
    --tertiary: rgb(211, 56, 144);
    --white: rgb(255, 255, 255);
    font-size: 62.5%;
  }

  body {
    background: #ededed;
    color: var(--secondary);
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  /* Header */
  header {
      display: flex;
      justify-content: space-between;
      margin: auto;
      width: 85%;
  }

  #view-high-scores:hover {
      cursor: pointer;
      color: var(--tertiary)
  }

  header h4 {
      padding-left: 20px;
      font-size: 2.0rem;
      display: inline;
  }
  
 .timer {
      font-size: 2.0rem;
      color: var(--primary);
      display: inline;
      text-align: right;
      padding-right: 20px;
  }

  /*Main content */
.container {
      padding: 20px;
      flex-direction: column;
      width: 50%;
      margin: auto;
  }

  
 h1 {
    color: var(--primary);
    font-size: 3.0rem;
    font-weight: bold;
  }

  p {
    color: var(--primary);
    font-size: 2.0rem;
  }

  .start {
    align-items: center;
    text-align: center;
    }
  
 .start h1, .start p {
     text-align: center;
 }

  .questions {
    align-items: flex-start;
    justify-content: flex-start;
    padding: 40px 20px;
    margin: auto;
  }

  .end h1, .end p {
      text-align: left
  }

  .end input {
    outline: thick; 
    border-width: 1px;
    padding: 5px;
    width: 35%;
    font-size: 2.2rem;
    border-radius: 5px;
  }

  .end input:focus {
    border: 2px solid var(--secondary);
  }

  .show {
      display: flex;
  }

  .hide {
      display: none;
  }

  #question {
    color: var(--primary);
    text-align: left;
    font-size: 3.0rem;
    font-weight: bold;
  }

  #high-score {
      text-align: left;
  }

  /*Button Styling */
  .btn {
      background: var(--secondary);
      color: var(--white);
      padding: 10px;
      border-radius: 10px;
      border: none;
      box-shadow: 0 3px grey;
      margin-top: 10px;
  }

  .btn:hover {
      background: var(--tertiary);
      border-radius: 10px;
      box-shadow: 0 2px grey;
      cursor: pointer;
  }

  .btn:active {
      border: none;
      outline: none;
      box-shadow: 0 0 grey;
  }

  .btn:focus {
      outline: none;
  }

  .btn-grid {
      display: grid;
      grid-template-rows: repeat(4, auto);
      grid-gap: 5px;
      margin: 20px 0;
  }

 .startend {
     width: 25%;
     margin-top: 10px;
 }

 .answerbtn {
     width: 50%;
     text-align: left;
     font-size: 3.0vw;
 }

 /* correct/wrong styling */

 .banner {
     font-size: 25px;
     text-align: center;
     color: rgba(199, 187, 187, 0.8);
     font-style: italic;
     margin: 0 100px;
 }

.banner h2 {
    border-top: 2px solid rgba(199, 187, 187, 0.8);
    margin: 0 auto;
    text-align: center;
    padding-top: 5px;
}

/* List for High Scores */
 
 ol {
    list-style-type: number;
 }

 li:nth-child(odd) {
     background-color: rgba(228, 151, 164, 0.5);;
 }


li {
    font-size: 4.0vw;
}

/* media query for smaller screens */

@media screen and (max-width: 1024px) {

    .btn {
        width: 100%;
        font-size: 3.0vw;
    }

    #question {
        font-size: 4.5vw;
    }

    h1 {
        font-size: 4.5vw;
    }

    p {
        font-size: 3.0vw;
    }

}